
.mineSlider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderStyles {
  padding-top: 95px;
  margin: 0 auto;
  max-width: 100%;
  position: relative;
}
.slideStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: center;
  z-index: 0;
}
.slideStyles::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.6) 0%,rgba(1, 1, 1, 1) 100%);
 
}
.slideStyles img {
  max-width: 100%;
  max-height: 100%;
}
.innerSl{
  position:absolute;
  z-index:20;
}
.innerSl h1 {
  font-size:50px;
}
.innerSl button{
  width: 180px;
  height: 40px;
  color: black;
  background-color: rgb(224, 173, 5);
  border: none;
}
.leftArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
  color: white;
  z-index: 2;
  cursor: pointer;
}
.rightArrowStyles {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 14px;
  color: white;
  z-index: 2;
  cursor: pointer;
}
.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots {
  z-index: 2;
  margin-top: -100px;
  font-size: 80px;
  color: white;
  cursor: pointer;
}
.yellowBlock{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color:rgb(224, 173, 5) ;
}
.detail{
  width: 180px;
  height: 40px;
  color: black;
  background-color: white;
  border: none;
}
.detail:hover{
  color: white;
  background-color: black;

}
.ourServices{
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.services{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.service{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  height: 200px;
  padding-left: 10px;
  padding-right: 10px;
}
.service p {
  text-align: justify;
}
.service:hover{
  background-color: rgb(224, 173, 5);
}
.serviceHeader{
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service:hover .serviceHeader img {
  filter: brightness(0) invert(1);
}
.aboutUs{
  margin-top: 20px;
  width: 100%;
  background-color: rgb(18, 18, 18);
  display: flex;
}
.aboutUs img {
 width: 50%;
}
.aboutUsContent {
  margin-left: 115px;
  margin-right: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.aboutUsBlocks{
  display: flex;
  gap: 50px;
}
.regalText{
  display: flex;
  gap:310px;
}
.regalLine{
  width: 100%;
  background-color:rgb(224, 173, 5) ;
  height: 5px;
}

.aboutUsBlockHead{
  display: flex;
  gap: 5px;
  align-items: center;
}
.aboutUsBlockHead{
  width: 100px;
}
/*------------------------------------------------------*/
.ourProjects{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourItems{
  flex-wrap: wrap;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.ourItem {
  width: 400px;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ourItem p {
  margin-right: 40px;
  margin-left: 40px;
  text-align: justify;
}

.ourItemImg{
  mix-blend-mode: soft-light;
}
.ourItem button {
  width: 180px;
  height: 40px;
  color: black;
  background-color: white;
  border: none;
  margin-bottom: 20px;
}
.ourItem button:hover{
  color: white;
  background-color: black;
 
}
.yellowBlock2{
  padding-top: 40px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color:   rgb(224, 173, 5);
}
.yellowBlock2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yellowBlock2Content h1 {
  font-size: 60px;
}
.slideItem{
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 300px;
  display:flex;
  gap:20px;
  text-align:center;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
.slideItem img {
  border-radius:50%;
}